@media screen {

    .reg_todo{
	height:80px;
	border:2px solid black;
	padding:20px;
	margin:10px;
	text-align:left;
	padding-left:30px;
	background-color:#CCC;
//	color:#CCC;
    }
    .reg_todo #step1 {
	 padding-left:30px;
     }
	 .reg_todo #step2 {
	 padding-left:30px;
     }
	 .reg_todo  img{
	 float:left
	 }
    .reg_next{
	height:80px;
	border:2px solid black;
	padding:20px;
	margin:10px;
	text-align:left;
	background-color:#FFF;
	font-size:20px;
//	color:#CCC;
    }
	.reg_next  img{
	 float:left
	 }
	.reg_next #step1 {
	 padding-left: 50px !important;
	 margin-top:10px;
     }
	 .reg_next #step2 {
	 padding-left: 65px !important;
	 margin-top:10px;
     }
    .reg_fail{
	height:80px;
	border:2px solid black;
	padding:20px;
	margin:10px;
	text-align:left;
	background-color:#CCC;
	font-size:20px;
	color:red;
	background-image:url(../images/close.png);
	background-repeat:no-repeat;
    }
    .reg_done{
	height:80px;
	border:2px solid black;
	padding:20px;
	margin:10px;
	text-align:left;
	font-size:20px;
	background-color:green;
	color:#ccc;
	background-image:url(../images/check.png);
	background-repeat:no-repeat;
	background-position:3% 50%;
    }
	#fin {
	padding-left:70px;
	padding-top: 10px;
	}
}
