<!DOCTYPE html>
<head>
<meta charset="UTF-8">
</head>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

  <style>
    div {font:SansSerif;}
    .hint {background-color:yellow;}
    .alert {background-color:red;}
    th {padding:1em;
	   width:15em;}
    th.col2 {width:3em;}
  </style>
  
<div ng-app="myApp" ng-controller="personCtrl">

Kennung: <input type="text" ng-model="inputVal" ng-change="readnew()"><br>

<div ng-show=isLbs()>LBS</div>
<div ng-show=isRfid()>Cardnumber</div>
<div ng-show=isRz()>RZ</div>


<table border>
  <tr><th>RZ</th><th class="col2 "></th><th>ldap</th><th>LBS</th></tr>

  <tr><td>{{rz.cn}}</td><td></td><td><input type="text" ng-model="bib.cn" ng-blur=freshBib(bib.cn)></td></tr>
  <tr><td>{{rz.displayName}}</td><td></td><td>{{bib.displayName}}</td><td>{{lbs4.displayName}}</td></tr>
  <tr ng-show=generationQualifierDiff()><td>{{rz.generationQualifier}}</td><td></td><td>{{bib.cn}}</td></tr>
  <tr ng-show=generationQualifierDiff()><td class="hint">LBS Kennung fehlerhaft?</td></tr>
  <tr><td>{{rz.carLicense}}</td><td ng-class={hint:carLicDiff()}></td><td>{{bib.carLicense}}</td></tr>
  <tr><td>{{rz.mail}}</td><td></td><td>{{bib.mail}}</td><td>{{lbs4.mail}}</td></tr>
  <tr><td>{{rz.employeeType}}</td><td></td><td></td><td>{{lbs4.grp}}</td></tr>

</table>

<div ng-show=true>
<br>RZ: {{fullName()}}
<br>dn: {{rz.displayName}}
<br>generationQualifier: {{genQual()}}
<div class=alert ng-show=!generationQualifierValid()>LBS Kennung fehlt in trust:  {{rz.generationQualifier}}</div>
<br>carLicense:{{rz.carLicense}}
<br>employeeType: {{rz.employeeType}}
<br>mail: {{rz.mail}}
</div>

<div ng-show=true>
  <br>LBS: {{bib.cn}} <input type="text" ng-model="bib.cn" />
  <br>dn: {{bib.displayName}}
<br>carLicense:{{bib.carLicense}}
  <br>mail: {{bib.mail}}
<br>Grp: {{bib.Grp}}
<br>Ablauf: {{bib.Ablauf}}
</div>


<div class=alert ng-show=generationQualifierDiff()>generationQualifierDiff</div>

 <br>{{statcode}} ({{stattext}})
<div ng-show=done>done</div>
</div>

<script>
  var lbspattern=/0705\d{6}[\dxX]/;
  var carlicpattern=/\d{8-10}/;
  var rzpattern=/[a-z]\w{2,}/;
  
  var app = angular.module('myApp', []);
  
  var rzresult={cn:"init",generationQualifier:"0705443",carLicense:"333444",employeeType:"facu"};
  
  var lbsresult={uid:"0705432",Grp:"20",Ablauf:"20.03.2020"};

  app.controller("personCtrl",function($scope, $http) {
      	  $scope.done=false;
	  $scope.rz={};
	  $scope.bib={};
	  $scope.lbs4={};
	  $scope.inputVal="";

	  $scope.fullName = function() {
	      var x = $scope.rz;
	      return x.cn;
	  };

      $scope.freshBib=function(query){
	  $scope.freshLdap();
	  $scope.freshLBS(query);
      }
      
      $scope.freshLdap=function(){
          $http.get("processes/userjson.php?q="+$scope.bib.cn)
              .then(function(response){
                  $scope.bib=response.data.bib;
                  $scope.statcode=response.status;
                  $scope.stattext=response.statusText;
              });	  
      }

      $scope.freshLBS=function(query){
	  var jsq={"q":query,"jsonp2":"value2"};
	  jsq="debu=22&q="+query;
          $http({url:"https://bibweb2.ub.hsu-hh.de/cgi-bin/signatur-dev/borjson.cgi",
		 data:jsq,
		 method:'POST',
		 headers: {'Content-Type': 'application/x-www-form-urlencoded'},
//		 paramSerializer:'$httpParamSerializerJQLike'
		})
              .then(function(response){
                  $scope.lbs4=response.data.lbs4;
                  $scope.statcode=response.status;
                  $scope.stattext=response.statusText;
              });	  
      }
      
    $scope.genQual=function(){
	if(!$scope.done && !$scope.bib.cn && $scope.generationQualifierValid()){ // check with retrieved patron code
	    $scope.bib.Grp="second request";
	    $scope.done=true; // only once?
//	return $scope.rz.generationQualifier;

	    $http.get("processes/userjson.php?q="+$scope.rz.generationQualifier)
		.then(function(response){
			$scope.bib=response.data.bib;
			$scope.statcode=response.status;
			$scope.stattext=response.statusText;
		});

	    $scope.freshLBS($scope.rz.generationQualifier);
	}
	
	$scope.bib.Ablauf="request2";

	return $scope.rz.generationQualifier;
    };

      $scope.readnew=function(){

	  if(2 < $scope.inputVal.length){ // no id below 3 chars
	      $scope.bib.Grp = "request1";
	      $scope.lbs4={};
	      $scope.done=false;

	    $http.get("processes/userjson.php?q="+$scope.inputVal)
		.then(function(response){
		    $scope.rz=response.data.rz;
		    $scope.bib=response.data.bib;
		    $scope.statcode=response.status;
		    $scope.stattext=response.statusText;
		});
	
	  }
      };
      
      $scope.isLbs=function(){
	  return lbspattern.test($scope.inputVal);
      };

      $scope.isRfid=function(){
	  return carlicpattern.test($scope.inputVal);
      };
      
      $scope.isRz=function(){
	  return rzpattern.test($scope.inputVal);
      };
    
      $scope.carLicDiff=function(){
	  if($scope.bib.carLicense)
	      return ($scope.rz.carLicense != $scope.bib.carLicense);
	  else return false;
      };

      $scope.generationQualifierDiff=function(){
	  if($scope.rz.generationQualifier)
	      return ($scope.rz.generationQualifier != $scope.bib.cn);
	  else return false;
      };

    
      $scope.generationQualifierValid=function(){
	  if($scope.rz.generationQualifier)
	      return $scope.rz.generationQualifier.startsWith('0705');
	  else return false;
      };

  });

</script>

</body>
</html>
